# PII抽出用
presidio-analyzer
presidio-anonymizer
fastapi
uvicorn
spacy
ginza
ja_ginza
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl


# 開発用（オプション）
ipython
pytest
black
flake8
isort
